# Print statement

In [1]:
a = 10
b = 20

a
b

20

In [2]:
a = 10
b = 20

print(a)
print(b)

10
20

In [3]:
print(10)
print(20)
print('Python')
print(10,20,'Python')

10
20
Python
10 20 Python

In [4]:
num1 = 20
num2 = 30
add = num1 + num2

print(add)

50

# Print with result

In [5]:
a

10

In [6]:
n1 = 20
n2 = 46

add = n1 + n2

print("Addition of", n1, "and", n2, "is", add)

Addition of 20 and 46 is 66

In [10]:
name = "SaiDivya"
age = 30
place = "USA"

print("My name is", name, "I am", age, "years old and lives in", place)

My name is SaiDivya I am 30 years old and lives in USA

# Formatted string

In [12]:
n1 = 45
n2 = 67
n3 = 798
add = n1+n2+n3

print("Addition of {}, {} and {} is {}".format(n1,n2,n3,add))

Addition of 45, 67 and 798 is 910

In [13]:
name = "SaiDivya"
age = 30
place = "USA"

print("My name is {}, I'm {} years old and lives in {}".format(name,age,place))

My name is SaiDivya, I'm 30 years old and lives in USA

In [17]:
num1 = 13
num2 = 97
num3 = 17

avg = (num1 + num2 + num3)/3
avg1 = round((num1 + num2 + num3)/3,2)
print("Average of {},{} and {} is {} and {}".format(num1,num2,num2,avg,avg1))

Average of 13,97 and 97 is 42.333333333333336 and 42.33

# Formatted String

In [ ]:
n1 = 16
n2 = 44
n3 = 292

print(f"Addition of {n1},{n2} and {n3} is)